body {
	margin: 0px;
	padding: 0px;
}
#topDiv {
	width: 100%;
}
#mainFooter {
	position: absolute;
	float: left;
	bottom: 0;
	width: 100%;
	text-align: center;
	font: 10px/13px arial;
	border:solid 1px green;
border: none;
	float: left;
}
#mainHeader {
	width: 175px;
	float: left;
}
#mainHeader form {
	margin: 0px;
	padding: 0px;
}
#mainBody {
width:1000px;
padding: 10px;
	border:solid 1px pink;
border: none;
	float: left;
}
#mainMenu {
	border:solid 1px yellow;
border: none;
	margin:0;
	padding-right:10px;
	font: 14px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif bold;
}

#mainMenu ul{
	list-style:none;
	margin:0;
	padding:0;
}

#mainMenu li{
	padding:0px;
}

#mainMenu li a{
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:50px;
	margin:0px;
	padding:0px 15px;
	text-align:right;
	text-decoration:none;
	text-transform: capitalize;
}

#mainMenu li a:hover, #mainMenu ul li:hover a{
	background: #2580a2 url("/img/hover.gif") bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
}

#mainMenu li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
}

#mainMenu li:hover ul{
	display:block;
}

#mainMenu li li {
	background:url('/img/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
}
#mainMenu li:hover li a{
	background:none;

}
#mainMenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}
#mainMenu li ul a:hover, #mainMenu li ul li:hover a{
	background:#2580a2 url('/img/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}
#mainMenu p{
	clear:left;
}	
.timeclockStatus-In {
	color: green;
	font-size: 1.3em;
}
.timeclockStatus-Out {
	color: red ;
	font-size: 1.3em;
}
.splashBoxDiv {
	margin: 5px;
	padding: 0px;
	width: 100%;
	height: 200px;
	border: solid 1px blue;
border: none;
background-color: #eeeeee;
	float: left;
	font-family: arial;
overflow: auto;
}
.splashBoxDiv a {
	text-decoration: none;
}
#splashTasks a:link, #splashTasks a:visited {
	font: .8em Arial;
	color: gray;
}
#splashCalDiv {
	width: 100%;
	margin: 5px;
	padding: 0px;
	border: solid 1px blue;
border: none;
background-color: #eeeeee;
	float: left;
}
.splashCalDivTable {
	width: 100%;
}
.splashCalDivTable a {
	text-decoration: none;
	font-family: Arial;
	color: #C1ECFA;
}
.basicAccountingDiv {
	border: solid 1px #dddddd;
	margin: 6px;
	padding: 6px;
	float: left;
	border-radius: 10px;
	box-shadow: 5px 5px 4px #888888;
	font-family: Arial;
	color: #888888;
	overflow: auto;
}
.basicAccountingDiv ul {
	list-style-type: none;
	margin: 5px;
	padding: 5px;	
}
.basicAccountingDiv ul li a {
	text-decoration: none;
text-transform:capitalize;
}
.basicAccountingPageHeader {
	font: 1.5em Arial;
}
