.scaffoldMenu {
	padding: 5px 0 0 5px;
	border-bottom: solid 2px #eeefff;
}
.scaffoldMenu ul {
	list-style: none;
	padding:0;
	margin:0;
}
.scaffoldMenu ul li {
	display: inline;
	border: solid 2px #eeefff;
	border-width: 1px 1px 0 1px;
	margin: 0 0.5em 0 0;
}
.scaffoldMenu li a:link, .scaffoldMenu li a:visited {
	padding: 0 1em;
	text-decoration: none;
	font: .8em arial;
	color: black;
}

.scaffoldTable {
	width: 95%;
//	border: solid 1px pink;
	margin: 20px;
	padding: 10px;
}
.scaffoldTable th, .scaffoldTable th {
	text-transform: capitalize;
}
.scaffoldTable {
	font: .8em arial;
	color: black;
}	
.scaffoldTable a:link, .scaffoldTable a:visited {
	text-decoration: none;
	color: blue;
}
.selectedItem {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding-bottom: 2px;
	color: #666666;
	background: white;
}
.unselectedItem {
	background-color: #eeefff;
	color: #666666;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
.scaffoldTable a {
	text-decoration: none;
}
.scaffoldTable th {
	text-align: left;
}
